<section class="section section-100 cover ">
    <div class="ribbon">
        <img src="images/wfp-logo-vertical-white-en.svg" alt="World Food Programme">
    </div>
    <div class="cover-title">
        <div>
            <h1 class="text-uppercase">WFP Supply Chain Annual Report</h1>
            <h2 class="text-uppercase">2018 Annual Review</h2>
        </div>
    </div>
</section>