<section class="container-fluid">

	<div class="row section-100 section cover pt-5 pb-5">
		<div class="col-6 col-md-4" style="height:100%;">
				<div class="ribbon" data-aos="fade" data-aos-duration="500" data-aos-easing="ease-in-out" data-aos-mirror="true"
				data-aos-once="false" style="height:100%;">
				<img src="images/wfp-logo-vertical-white-en.svg" alt="World Food Programme">
			</div>
		</div>

		<div class="col col-md-4 d-none d-md-block">
				<a href="#numbers" class="btn btn-outline-light rounded-circle btn-scroll text-uppercase mx-auto" data-aos="fade" data-aos-delay="1000" data-aos-duration="1000"
				data-aos-easing="ease-in-out">
					scroll <br /> down
					<svg class="icon-sm fill-white">
						<use xlink:href="sprite.svg#chevron-down"></use>
					</svg>
				</a>
		</div>

		<div class="col-6 col-md-4">
				<div class="cover-title" data-aos="fade" data-aos-duration="1000"
				data-aos-easing="ease-in-out">
				<div>
					<h1 class="text-uppercase font-weight-bold" data-aos="fade" data-aos-duration="1000"
						data-aos-easing="ease-in-out">WFP Supply Chain</h1>
					<br />
					<h1 data-aos="fade-down" data-aos-duration="1000" data-aos-easing="ease-in-out">2018 in
						Review</h1>
				</div>
			</div>
		</div>
	</div>
	
	
	

</section>