<section class="section section-100 cover ">
	<div class="ribbon" data-aos="fade" data-aos-duration="500" data-aos-easing="ease-in-out" data-aos-mirror="true"
		data-aos-once="false">
		<img src="images/wfp-logo-vertical-white-en.svg" alt="World Food Programme">
	</div>
	<a href="#numbers" class="btn btn-outline-light rounded-circle btn-scroll text-uppercase mx-auto" data-aos="fade" data-aos-delay="1000" data-aos-duration="1000"
	data-aos-easing="ease-in-out">
		scroll down
		<svg class="icon-sm fill-white">
			<use xlink:href="sprite.svg#chevron-down"></use>
		</svg>
	</a>
	<div class="cover-title" data-aos="fade" data-aos-duration="1000"
		data-aos-easing="ease-in-out">
		<div>
			<h1 class="text-uppercase font-weight-bold" data-aos="fade" data-aos-duration="1000"
				data-aos-easing="ease-in-out">WFP Supply Chain</h1>
			<br />
			<h1 data-aos="fade-down" data-aos-duration="1000" data-aos-easing="ease-in-out">2018 in
				Review</h1>
		</div>
	</div>

</section>