<section class="section section-100 unit-content">
    <div class="row">
        <div class="col-md-6 col-lg-8 offset-md-3 offset-lg-2">
            <h1 class="unit-title">
                FOOD PROCUREMENT
            </h1>
            <h2 class="unit-subtitle text-primary">
                Food procurement ensures beneficiaries receive appropriate food, purchased fairly and transparently
            </h2>
            <p class="lead">
                Food procurement’s primary purpose is to procure the right food at the right time, in the right place
                and at the
                lowest possible price to supply WFP beneficiaries.
            </p>
            <p>
                The Food Procurement Unit is responsible for buying commodities locally, regionally and internationally.
                Procurement experts in country offices, regional bureaux and headquarters develop and maintain
                shortlists of
                qualified suppliers to source commodities, including complex commodities, such as fortified cereals,
                which are
                increasingly used in WFP food baskets.

            </p>
            <p>
                By procuring food fortified with essential micronutrients, WFP is not only fighting hunger but also the
                health
                implications of malnutrition. For example, WFP is actively contributing to rice fortification in 16
                countries
                through a successful collaboration between the Nutrition and Supply Chain Divisions.
            </p>
            <p>
                In collaboration with other WFP functions, including Vulnerability Analysis and Mapping (VAM) and
                Programme, as well as with external stakeholders, Food Procurement uses market intelligence to develop
                sourcing strategies which define the optimal time to buy the different commodities in various locations.
            </p>
            <p class="lead">
                Procurement of food increased by <strong class="text-primary">64 percent</strong> between 2014 and 2018,
                mainly driven by large scale emergencies such as Syria, Yemen and South Sudan.
            </p>
            <p>
                Market prices are continually updated to avoid any adverse impact on local markets, while a stringent
                vendor
                vetting system is in place to ensure fairness, transparency and accountability.
            </p>
        </div>
    </div>
</section>
<section class="section section-50 figures bg-blue"></section>
<section class="section section-100 foodProc-image"></section>