<div class="navigation">
	<button class="nav-button text-white text-uppercase d-flex align-items-center">
		<div id="nav-icon1">
			<span></span>
			<span></span>
			<span></span>
		</div>
		<span class="ml-2">sections</span>
	</button>
</div>

<!-- <div class="navigation-list">

	<div>
		<h5 class="text-white font-weight-bold text-uppercase">
			Introduction
		</h5>
		<a href="">
			2018 Supply Chain in numbers
		</a>

		<a href="">
			Elements of WFP Supply Chain
		</a>

		<a href="">
			The Journey of Wheat
		</a>

		<a href="">
			Emergency Response
			In 2018
		</a>
	</div>


	<div>
		<h5 class="text-white font-weight-bold text-uppercase">
			End-to-End Supply Chain: From Planning to Deliver
		</h5>

		<a href="">
			Planning
		</a>

		<a href="">
			Advisory Services
		</a>

		<a href="">
			Food Procurement
		</a>

		<a href="">
			Food Safety and Quality
		</a>

		<a href="">
			Goods and Services Procurement
		</a>

		<a href="">
			SURFACE TRANSPORT
		</a>

		<a href="">
			school feeding activities
		</a>

		<a href="">
			shipping
		</a>

		<a href="">
			Aviation
		</a>

		<a href="">
			storage
		</a>

		<a href="">
			Cash-Based Transfers and Markets
		</a>
	</div>

	<div>
		<h5 class="text-white font-weight-bold text-uppercase">
			support to the humanitarian community
		</h5>

		<a href="">
			Bilateral Service Provision
		</a>

		<a href="">
			United Nations Humanitarian Air Service
		</a>

		<a href="">Logistics Cluster</a>

		<a href="">
			United Nations Humanitarian Response Depot
		</a>
	</div>

	<div>
		<h5 class="text-white font-weight-bold text-uppercase">
			Looking forward
		</h5>
		<a href="">
			Innovation
		</a>

		<a href="">
			WORKING WITH PARTNERS TO MAXIMIZE EFFICIENCY
		</a>

	</div>

</div> -->

<div class="navigation-list d-flex align-items-center">
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3 ">
				<a href="#numbers" class="btn btn-block btn-lg btn-dark nav-anchor">
					Introduction
				</a>

				<a href="#entoendSupplyChain" class="btn btn-block btn-lg btn-dark nav-anchor">
					End-to-End Supply Chain: From Planning to Delivery
				</a>

				<a href="#supportingCommunity" class="btn btn-block btn-lg btn-dark nav-anchor">
					support to the humanitarian community
				</a>

				<a href="#lookingForward" class="btn btn-block btn-lg btn-dark nav-anchor">
					Looking forward
				</a>
			</div>
		</div>
	</div>
</div>