.bg-blue {
  background-color: $blue;
}

.bg-primary {
	background-color: $primary;
  }

.bg-dark {
	background-color: $dark;
}

.bg-red {
  background-color: $red;
}

.bg-gray-dark {
  background-color: $gray-dark;
}

.text-red {
  color: $red;
}

.text-black {
	color: $black;
}

.text-blue {
	color: $blue;
}

.text-green {
	color: $green;
}

.text-dark {
	color: $dark;
}

.fill-green {
    fill: $green;
}

.fill-blue {
    fill: $primary;
}

.fill-light-blue {
    fill: $blue;
}

.fill-white {
    fill: $white;
}

.fill-dark {
    fill: $dark;
}

.fill-red {
    fill: #e78891;
}