.cover {
    background-image: url('/images/cover.jpg');
    background-attachment: fixed;
    background-position: bottom;
    background-color: $primary;
    
	align-items: flex-end;
	z-index: 3;
	position: relative;

	display: grid;
	padding: $grid-gutter-width;
	grid-column-gap: $grid-gutter-width;

	@include media-breakpoint-down(sm) {
		grid-template-columns: 100px auto;
		grid-template-rows: 1fr 100px;
		grid-row-gap: $grid-gutter-width;
	}


	// grid for md and up screens
	@include media-breakpoint-up(md) {
		grid-template-columns: 100px auto max-content;
		padding: $grid-gutter-width;
	}

    h1 {
        font-size: 3rem;
        background-color: $primary;
        padding: $grid-gutter-width / 2;
        display: inline-block;
    }

    h2 {
        font-size: 2.5rem;
    }

    .ribbon {
        background-color: $primary;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding-bottom: $grid-gutter-width;
		width: 100px;
		align-self: stretch;
    }

    &-title {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        color: $white;
    }
}

.btn-scroll {
	width: 100px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	@include media-breakpoint-down(sm) {
		grid-row: 2;
		margin: auto;
		grid-column: 1 / 3;
	}
}