.figure-icon {
    fill: $primary;
    height: 100px;
    width: 100px;
    display: block;
}

.media-icon {
    fill: $white;
    height: 50px;
    width: 50px;
}

.icon-lg {
    height: 120px;
    width: 120px;
}

.icon-md {
    height: 70px;
    width: 70px;
}

.icon-sm {
    height: 50px;
    width: 50px;
}

.fill-green {
    fill: $green;
}

.fill-blue {
    fill: $primary;
}

.fill-light-blue {
    fill: $blue;
}

.fill-white {
    fill: $white;
}

.fill-dark {
    fill: $dark;
}

.fill-red {
    fill: #e78891;
}