.section {
    background-size: cover;
    padding: $grid-gutter-width;

    &-20 {
        min-height: 20vh;
    }

    &-50 {
        min-height: 50vh;
    }

    &-100 {
        min-height: 100vh;
    }
}

.bg-blue {
    background-color: $blue;
}

.divider {
    background-color: $primary;
    display: flex;
    align-items: center;
    color: $white;
}

.grid-2 {
    display: grid;
    grid-template-columns: max-content auto;
    grid-column-gap: $grid-gutter-width;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: $grid-gutter-width;
}

.figures {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
}

.foodProc-image {
    background-image: url('/images/foodProc.jpg');
    background-position: center;
    background-attachment: fixed;
}

.goods-image {
    background-image: url('/images/goods.jpg');
    background-position: center;
    background-attachment: fixed;
}

