.section {
    background-size: cover;
    padding: $grid-gutter-width;

    &-20 {
        min-height: 20vh;
    }

    &-50 {
        min-height: 50vh;
    }

    &-100 {
        min-height: 100vh;
    }
}

.divider {
    background-color: $primary;
    display: flex;
    align-items: center;
    color: $white;
}

// Grids----------------------------------------

.grid-2 {
    display: grid;
    grid-template-columns: max-content auto;
    grid-column-gap: $grid-gutter-width;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: $grid-gutter-width;
}

.figures {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
}

// Media Item -----------------------------------
.media {
    margin: $grid-gutter-width 0;
}

