.quote {
  &-content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: $grid-gutter-width;
  }
}

.quote-text {
  q {
    text-transform: uppercase;
    color: $white;
    font-size: 1.5rem;
    font-weight: 700;
  }

  p {
    grid-row: 2;
    color: $white;
    margin-top: $grid-gutter-width;
    text-transform: uppercase;
  }
}

.mechanic {
  background-image: url("/images/mechanic.jpg");
  background-size: cover;
}

.community {
  background-image: url("/images/community.jpg");
  background-size: cover;
}

.stanley {
  background-image: url("/images/driver.jpg");
  background-size: cover;
  background-position: center;
}

.alia {
  background-image: url("/images/alia.jpg");
  background-size: cover;
  background-position: top;
//   background-attachment: fixed;
}

.donor {
  background-image: url("/images/donors.jpg");
  background-size: cover;
  background-position: center;

  h3 {
    // opacity: 0.5;
    font-weight: 300;
    line-height: 1.6;
    color: $gray-500;

    strong {
      color: $white;
    }
  }
}

.end {
  background-image: url("/images/end.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.yemen {
	background-image: url("/images/yemen.png");
	background-size: cover;
	background-position: top left;
  }

.elements {
	background-color: #39474f;
}

.trucks {
	background-image: url('/images/trucks.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.border-dashed {
	border-top: 1px dashed $white;
}

.innovation {
	background-image: url('/images/innovationBg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.largeNews {
	background-image: url('/images/largeNews.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.sherp {
	background-image: url('/images/sherp.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.news {
	p {
		font-size: 12px;
		color: $black;
		line-height: normal;
	}
}