.quote {
  &-content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: $grid-gutter-width;
  }
}

.quote-text {
  .quote {
    text-transform: uppercase;
    color: $white;
    font-size: 1.5rem;
    font-weight: 700;
  }

  .quote-name {
    grid-row: 2;
    color: $white;
    margin-top: $grid-gutter-width;
    text-transform: uppercase;
  }
}

.mechanic {
  background-image: url("../images/mechanic.jpg");
  background-size: cover;
  background-position: 75%;

  @include media-breakpoint-up(md) {
	  background-position: rigth;
  }
}

.community {
  background-image: url("../images/community.jpg");
  background-size: cover;
  background-position: right;

  @include media-breakpoint-up(md) {
	  background-position: center;
  }
}

.stanley {
  background-image: url("../images/driver.jpg");
  background-size: cover;
  background-position: center;

  @include media-breakpoint-only(md) {
	background-position: center;
  }

  @include media-breakpoint-up(lg) {
	background-position: center;
  }
}

.alia {
  background-image: url("../images/alia.jpg");
  background-size: cover;
  background-position: -260px 0;

  @include media-breakpoint-up(md) {
	background-position: top;
  }
}

.donor {
  background-image: url("../images/donors.jpg");
  background-size: cover;
  background-position: center;

  h3 {
    // opacity: 0.5;
    font-weight: 300;
    line-height: 1.6;
    color: $gray-500;

    strong {
      color: $white;
    }
  }
}

.end {
  background-image: url("../images/end.jpg");
  background-size: cover;
  background-position: center;
  @include media-breakpoint-up(md) {
	background-attachment: fixed;
  }
}

.yemen {
	background-image: url("../images/yemen.png");
	background-size: cover;
	background-position: top left;
  }

.elements {
	background-color: #39474f;
}

.trucks {
	background-image: url('../images/trucks.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.border-dashed {
	border-top: 1px dashed $white;
}

.innovation {
	background-image: url('../images/innovationBg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.largeNews {
	background-image: url('../images/largeNews.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.sherp {
	background-image: url('../images/sherp.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.news {
	p {
		font-size: 12px;
		color: $black;
		line-height: normal;
	}
}

.postcard {
	background-image: url('../images/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow-x: hidden;

	@include media-breakpoint-up(md) {
		background-attachment: fixed;
	  }
}

#postcard01 {
	background-image: url('../images/postcards/background01.png');
}

#postcard02 {
	background-image: url('../images/postcards/background02.png');
}

#postcard03 {
	background-image: url('../images/postcards/background03.png');
}

#postcard04 {
	background-image: url('../images/postcards/background04.png');
}

.elements-img {
	@include media-breakpoint-up(md) {
		height: 100% !important;
	}
}