.unit-title {
    color: $black;
    text-transform: uppercase;
    font-weight: 700;
}

.unit-subtitle {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
}

.lead {
    color: $black;

    strong {
        font-weight: 700;
    }
}

.figure {
    color: $white;
    font-size: 4rem;
    font-weight: 700;
}

h3 {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 1px solid $white;
}
