// Unit Images -----------------------------------


.foodProc-image {
    background-image: url('/images/foodProc.jpg');
    background-position: center;
    @include media-breakpoint-up(md) {
		background-attachment: fixed;
	}
}

.goods-image {
    background-image: url('/images/goods.jpg');
	background-position: center;
	@include media-breakpoint-up(md) {
		background-attachment: fixed;
	}
}

.planning-image {
    background-image: url('/images/planning.jpg');
	background-position: center;
	
    @include media-breakpoint-up(md) {
		background-attachment: fixed;
	}
}

.shipping-image {
    background-image: url('/images/shipping.jpg');
    background-position: center;
}

.aviation-image {
    background-image: url('/images/aviation.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	@include media-breakpoint-up(md) {
		background-attachment: fixed;
	}
}

.cbt-image {
    background-image: url('/images/cbt.jpg');
    background-position: top;
    @include media-breakpoint-up(md) {
		background-attachment: fixed;
	}
}

.bilateral-image {
    background-image: url('/images/bilateral.jpg');
    background-position: top left;
	@include media-breakpoint-up(md) {
		background-attachment: fixed;
	}
	background-size: cover;
}

.unhas-image {
    background-image: url('/images/unhas.jpg');
    background-position: center;
    background-size: cover;
}

.logistics-image {
    background-image: url('/images/logistics.jpg');
    background-position: center;
}

.map-image {
    background-image: url('/images/map-figures.svg');
    background-position: center;
}

@keyframes grow {
	0% {
		transform: scaleY(0);
		transform-origin: bottom left;
	}

	100% {
		transform: scaleY(1);
	}
}

.shipping-chart {
	opacity: .5;
	position: absolute;
	// width: 100%;
	bottom: 0;
}

.shipping-figures {
	position: absolute;
	bottom: 0;
	z-index: 1;
	width: 100%;

	@include media-breakpoint-up(md) {
		left: 30px;
	}
}