<section class="section unit-content pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-xl-10 offset-xl-1 offset-lg-2">
                <h1 class="unit-title">
                    ADVISORY SERVICES
                </h1>
                <h2 class="unit-subtitle text-success">
                    SUPPLY CHAIN OPTIMIZATION
                </h2>
                <p>
                    In 2018, WFP was asked to optimize the supply chain of India’s Public Distribution System, a
                    national safety net that reaches more than <strong class="text-success">800 million</strong> Indians
                    with a monthly allowance of cereals.
                </p>
                <p>
                    A proof of concept was developed for Dhenkenal district, in Odisha state, where the Public
                    Distribution System assists <strong class="text-success">928,000 beneficiaries</strong>.
                </p>
                <p>
                    WFP reviewed the various parts of the supply chain to identify inefficiencies and suggest
                    alternative setups. One of the identified issues is that most of the cereal allocations are made
                    based on administrative boundaries, which means that a warehouse in a specific suburb will be
                    connected by default to all the mills and the delivery points in that suburb, even if other
                    locations are physically closer. This results in higher transport costs and a less efficient supply
                    chain.
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <p class="lead">
                            This is what the network currently looks like, with several delivery points supplied by
                            multiple warehouses that are not necessarily even the nearest ones
                            <img src="images/before.jpg" class="img-fluid pt-4" alt="">
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p class="lead">
                            And this is how the network will look with an optimized allocation that would reduce the
                            average distance travelled between warehouse and delivery point by <strong
                                class="text-success">21 percent</strong>
                                <img src="images/optimized.jpg" class="img-fluid pt-4" alt="">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section bg-success pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-xl-10 offset-xl-1 offset-lg-2">
                <h2 class="text-uppercase text-white font-weight-bold">SOLVE</h2>
                <p class="text-white">In many developing countries, health supply chains are inadequate, resulting in the unavailability of health products to beneficiaries where and when needed. Through SOLVE, a project funded by the Bill & Melinda Gates Foundation, WFP uses its wealth of supply chain expertise to strengthen health supply chains across 17 pilot countries in Africa and Asia. Acting as strategic advisor on the ground to map out the gaps in the supply chain affecting the availability of health commodities, WFP recommends the best solutions to eliminate inefficiencies and market barriers. </p>
            </div>
        </div>
    </div>
</section>