<section class="section unit-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-xl-10 offset-xl-1 offset-lg-2">
                <h1 class="unit-title">
                        Aviation
                </h1>
                <h2 class="unit-subtitle text-success">
                        The Aviation service enables WFP to deliver assistance to vulnerable people in locations that cannot be accessed by any other means
                </h2>
                <p>
                        Aviation provides air transport capacity to deliver food and non-food items through airlifts, airfreight and airdrops.
                </p>
                <p>
                        Aviation is key in supporting WFP operations, as well as those of other humanitarian organizations and is particularly crucial in emergency response when aid must be delivered to the affected population fast.
                </p>
                <p>
                        In 2018, WFP delivered relief supplies on a large scale to support a number of emergency responses, including the Ebola outbreak in the Democratic Republic of the Congo, the earthquakes in Papua New Guinea, the cyclone that hit Socotra island in Yemen and the floods in Somalia.
                </p>
                <p class="lead">
                        In 2018, <strong class="text-success">14,912 MT of cargo </strong> was airlifted to <strong class="text-success">19 countries</strong>. 
                </p>
                <p>
                        Airdrops are resorted to when inaccessible roads, insecurity and lack of proximity to a waterway make access impossible other than by air.
                </p>
                <p class="lead">
                        In 2018, <strong class="text-success">60,667 MT</strong> of food were airdropped to <strong class="text-success">81 drop zones</strong> in South Sudan.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="section section-50 aviation-image"></section>