<section class="section unit-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h1 class="unit-title">
                    Bilateral Service Provision
                </h1>
                <h2 class="unit-subtitle text-danger">
                    Bilateral Service Provision supports partners in their programme interventions with crucial
                    logistics services
                </h2>
                <p>
                    Making use of its expertise in humanitarian logistics and its extensive field presence, WFP is able
                    to provide logistics services and procure assets and relief items upon request to support emergency
                    and development operations.
                </p>
                <div class="row">
                    <div class="col">
                        <h6 class="text-uppercase">Central African Republic</h6>
                        <span class="figure text-danger">
                            900m<sup>3</sup>
                        </span>
                        <p class="lead">
                            medicines and testing kits delivered to 838 delivery points for Global Funds projects
                        </p>
                    </div>

                    <div class="col">
                        <h6 class="text-uppercase">chad</h6>
                        <span class="figure text-danger">
                            6.7M
                        </span>
                        <p class="lead">
                            mosquito nets distributed across 13 regions for UNDP
                        </p>
                    </div>

                    <div class="col">
                        <h6 class="text-uppercase">yemen</h6>
                        <span class="figure text-danger">
                            60K
                        </span>
                        <p class="lead">
                            sachets of oral rehydration salts distributed with food baskets for WHO
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section section-50 bilateral-image"></section>