<section class="section section-100 bg-success unit-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-xl-10 offset-xl-1 text-white">
                <h1 class="unit-title text-white">
                    Cash-Based Transfers and Markets
                </h1>
                <h2 class="unit-subtitle">
                    The CASH-BASED TRANSFERS (CBT) and Markets UNIT works with the retail sector to map the end-to-end
                    supply chain, removing inefficiencies and improving prices, quality, service and access for
                    beneficiaries and the local population
                </h2>
                <p class="lead text-white">
                    Capitalizing on WFP’s 50+ years of experience in optimizing supply chains, CBT and market experts
                    are deployed to countries where markets are functioning to:
                </p>

                <!-- graphic -->

            </div>
        </div>
    </div>
</section>
<section class="section unit-content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xl-5 offset-xl-1">
                <h3 class="text-uppercase text-success font-weight-bold">
                    2018 Key Achievements
                </h3>
                <div class="media">
                    <svg class="media-icon fill-green align-self-center mr-3">
                        <use xlink:href="sprite.svg#money"></use>
                    </svg>
                    <div class="media-body">
                        <p>
                            In Lebanon, WFP-contracted stores are five percent cheaper than other stores, translating to
                            an additional US$6.5 million purchasing power for WFP beneficiaries and the local
                            population.
                        </p>
                    </div>
                </div>

                <div class="media">
                    <svg class="media-icon fill-green align-self-center mr-3">
                        <use xlink:href="sprite.svg#certification"></use>
                    </svg>
                    <div class="media-body">
                        <p>
                            In Jordan, 81 percent of contracted retailers are certified in Food Quality and Assurance by
                            WFP and the Jordan Food and Drug Administration.
                        </p>
                    </div>
                </div>

                <div class="media">
                    <svg class="media-icon fill-green align-self-center mr-3">
                        <use xlink:href="sprite.svg#assessment"></use>
                    </svg>
                    <div class="media-body">
                        <p>
                            In Kenya, by linking local farmers and producers to retailers, the supply of fresh produce
                            to Kakuma and Kalobeyei settlement markets increased by 200 percent and the price of
                            tomatoes decreased by 30 percent.
                        </p>
                    </div>
                </div>

                <div class="media">
                    <svg class="media-icon fill-green align-self-center mr-3">
                        <use xlink:href="sprite.svg#tools"></use>
                    </svg>
                    <div class="media-body">
                        <p>
                            In Bangladesh, WFP constructed two new outlets in Cox’s Bazar, providing food access to
                            135,000 additional beneficiaries.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4 offset-xl-1">
                <svg class="fill-green icon-lg mb-3">
                    <use xlink:href="sprite.svg#quote"></use>
                </svg>
                <div class="quote-text mb-5">
                    <q class="text-success">
                        Before there were no shops in the area and we couldn’t buy any of the goods available now. When
                        we started we were not able to work very well, but through WFP’s trainings we are able to work
                        better and we learnt how to negotiate with other people.
                    </q>
                </div>
                <p class="text-uppercase text-success">
                    Jackline Nekesa Wafula, <br />
                    host community contracted trader in Kalobeyei settlement
                </p>
            </div>
        </div>
    </div>
</section>
<section class="section section-100 cbt-image"></section>