<section class="section section-100 bg-success unit-content pt-5 pb-5">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 col-xl-10 offset-xl-1 text-white">
				<h1 class="unit-title text-white">
					Cash-Based Transfers and Markets
				</h1>
				<h2 class="unit-subtitle">
					The CASH-BASED TRANSFERS (CBT) and Markets UNIT works with the retail sector to map the end-to-end
					supply chain, removing inefficiencies and improving prices, quality, service and access for
					beneficiaries and the local population
				</h2>
				<p class="lead text-white">
					Capitalizing on WFP’s 50+ years of experience in optimizing supply chains, CBT and market experts
					are deployed to countries where markets are functioning to:
				</p>

				<div class="row">
					<div class="col">
						<span class="figure text-white">
							01
						</span>
						<p class="lead text-uppercase text-white">
							MAP END-TO-END <br />
							SUPPLY CHAIN
						</p>
					</div>

					<div class="col">
						<span class="figure text-white">
							02
						</span>
						<p class="lead text-uppercase text-white">
							IDENTIFY <br />
							INEFFICIENCIES
						</p>
					</div>

					<div class="col">
						<span class="figure text-white">
							03
						</span>
						<p class="lead text-uppercase text-white">
							IMPROVE MARKET <br />
							EFFECTIVENESS
						</p>
					</div>

					<div class="col">
						<span class="figure text-white">
							04
						</span>
						<p class="lead text-uppercase text-white">
							FOSTER RETAIL <br />
							INITIATIVES
						</p>
					</div>
				</div>



				<div class="row">
					<div class="col">
						<% include ../_partials/_cbt01 %>
					</div>


				</div>

				<div class="row mt-3 mb-3 cbt1-text">
					<div class="col">
						<p class="text-white" data-aos="fade-right" data-aos-duration="1000" data-aos-duration="1000">
							Linking smallholder farmers to local markets
						</p>
					</div>

					<div class="col">
						<p class="text-white" data-aos="fade-right" data-aos-duration="1000" data-aos-duration="1000" data-aos-delay="500">
							Training retailers on business skills
						</p>
					</div>

					<div class="col">

						<p class="text-white" data-aos="fade-right" data-aos-duration="1000" data-aos-duration="1000" data-aos-delay="1000">
							Aggregating small retailers into “buying clubs”
						</p>
					</div>

					<div class="col">

						<p class="text-white" data-aos="fade-right" data-aos-duration="1000" data-aos-duration="1000" data-aos-delay="1500">
							Using granular sales data to make informed programming decisions
						</p>
					</div>
				</div>

				<h1 class="text-uppercase text-white text-center cbt-title">
					The impact is
				</h1>

				<div class="row">
					<div class="col mb-3 mt-3">
						<% include ../_partials/_cbt02 %>
					</div>
				</div>

				<div class="row cbt2-text">
					<div class="col">
						<p class="text-white" data-aos="fade-right" data-aos-duration="1000" data-aos-duration="1000">
							More choice and more nutritional <br />
							products to the market
						</p>
					</div>

					<div class="col">
						<p class="text-white" data-aos="fade-right" data-aos-duration="1000" data-aos-duration="1000" data-aos-delay="500">
							Lower prices and better <br />
							customer service
						</p>
					</div>

					<div class="col">
						<p class="text-white" data-aos="fade-right" data-aos-duration="1000" data-aos-duration="1000" data-aos-delay="1000">
							Better access for beneficiaries and <br />
							local population
						</p>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
<section class="section unit-content pt-5 pb-5">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-xl-5 offset-xl-1">
				<h3 class="text-uppercase text-success font-weight-bold">
					2018 Key Achievements
				</h3>
				<div class="media">
					<svg class="media-icon fill-green align-self-center mr-3">
						<use xlink:href="sprite.svg#money"></use>
					</svg>
					<div class="media-body">
						<p>
							In Lebanon, WFP-contracted stores are five percent cheaper than other stores, translating to
							an additional US$6.5 million purchasing power for WFP beneficiaries and the local
							population.
						</p>
					</div>
				</div>

				<div class="media">
					<svg class="media-icon fill-green align-self-center mr-3">
						<use xlink:href="sprite.svg#certification"></use>
					</svg>
					<div class="media-body">
						<p>
							In Jordan, 81 percent of contracted retailers are certified in Food Quality and Assurance by
							WFP and the Jordan Food and Drug Administration.
						</p>
					</div>
				</div>

				<div class="media">
					<svg class="media-icon fill-green align-self-center mr-3">
						<use xlink:href="sprite.svg#assessment"></use>
					</svg>
					<div class="media-body">
						<p>
							In Kenya, by linking local farmers and producers to retailers, the supply of fresh produce
							to Kakuma and Kalobeyei settlement markets increased by 200 percent and the price of
							tomatoes decreased by 30 percent.
						</p>
					</div>
				</div>

				<div class="media">
					<svg class="media-icon fill-green align-self-center mr-3">
						<use xlink:href="sprite.svg#tools"></use>
					</svg>
					<div class="media-body">
						<p>
							In Bangladesh, WFP constructed two new outlets in Cox’s Bazar, providing food access to
							135,000 additional beneficiaries.
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-xl-4 offset-xl-1">
				<svg class="fill-green icon-lg mb-3">
					<use xlink:href="sprite.svg#quote"></use>
				</svg>
				<div class="quote-text mb-5">
					<p class="quote text-success">
						Before there were no shops in the area and we couldn’t buy any of the goods available now. When
						we started we were not able to work very well, but through WFP’s trainings we are able to work
						better and we learnt how to negotiate with other people.”
					</p>
				</div>
				<p class="text-uppercase text-success">
					Jackline Nekesa Wafula, <br />
					host community contracted trader in Kalobeyei settlement
				</p>
			</div>
		</div>
	</div>
</section>
<section class="section section-100 cbt-image"></section>