<section class="unit-content">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 offset-lg-2 col-xl-3 offset-xl-1 pt-5 pb-5">
				<h1 class="unit-title">
					Food Safety and Quality
				</h1>
				<h2 class="unit-subtitle text-success">
					WFP integrates a comprehensive food safety and quality assurance system in its supply chain process,
					from programme design to delivery, to ensure beneficiaries have access to safe and high-quality food
				</h2>
				<p class="lead mt-5 mb-5">
					The importance of the work carried out by the unit dedicated to food safety and quality has grown
					steadily with WFP’s food basket becoming more complex and relying more on processed food.
				</p>
				<img src="images/foodSafety.jpg" class="img-fluid" alt="">
			</div>
			<div class="col-lg-5 col-xl-7">
				<div class="row">
					<div class="col-md-6 px-5 pt-5 pb-5">
						<h3 class="text-uppercase text-success font-weight-bold mb-0">Food Safety and Quality</h3>
					</div>
					<div class="col bg-success px-5 pt-5 pb-5">
						<h3 class="text-uppercase text-white font-weight-bold mb-0">
							KEY ACHIEVEMENTS IN 2018
						</h3>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6 px-5 pt-5">
						<p class="text-success">
							Evaluates vendors and provides assistance in managing inspection contracts
						</p>
						<svg class="fill-green icon-md">
							<use xlink:href="sprite.svg#solutions"></use>
						</svg>
					</div>
					<div class="col-md-6 bg-success px-5 pt-5 pb-5">
						<p class="text-white mb-0">
							Built a platform for monitoring laboratory results capturing 21,000 data points and
							analysing trends of underperformance
						</p>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6 px-5 pt-5">
						<p class="text-success">
							Conducts research to improve WFP food baskets
						</p>
						<svg class="fill-green icon-md">
							<use xlink:href="sprite.svg#basket"></use>
						</svg>
					</div>
					<div class="col-md-6 bg-success px-5 pt-5 pb-5">
						<p class="text-white mb-0">
							Completed technical review of <strong>20 food specifications</strong> of food basket items
						</p>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6 px-5 pt-5">
						<p class="text-success">
							Works on product and packaging specifications
						</p>
						<svg class="fill-green icon-md">
							<use xlink:href="sprite.svg#can"></use>
						</svg>
					</div>
					<div class="col-md-6 bg-success px-5 pt-5 pb-5">
						<p class="text-white mb-0">
							<strong>Redesigned packaging</strong> of oil jerrycans to improve strength and reduce losses
							and adverse
							environmental impact
						</p>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6 px-5 pt-5">
						<p class="text-success">
							Enhances suppliers’ capacity to prevent food safety and quality issues
						</p>
						<svg class="fill-green icon-md">
							<use xlink:href="sprite.svg#assessment"></use>
						</svg>
					</div>
					<div class="col-md-6 bg-success px-5 pt-5 pb-5">
						<p class="text-white mb-0">
							Coordinated <strong>23 food safety and quality audits</strong> in nine countries
						</p>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6 px-5 pt-5">
						<p class="text-success">
							Collaborates with other actors on standard setting for food safety and quality
						</p>

						<svg class="fill-green icon-md">
							<use xlink:href="sprite.svg#safety"></use>
						</svg>
					</div>
					<div class="col-md-6 bg-success px-5 pt-5 pb-5">
						<p class="text-white mb-0">
							Led an <strong>interagency partnership</strong> comprising WFP, UNICEF, USAID, MSF and ICRC
							for streamlining food safety and quality processes such as supplier audits
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>