<section class="section unit-content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-8 offset-md-3 offset-lg-2">
                <h1 class="unit-title">
                    Goods and Services Procurement
                </h1>
                <h2 class="unit-subtitle text-primary">
                    Goods and Services Procurement is essential to keep WFP operations around the world running and
                    making the most effective and efficient use of WFP resources
                </h2>
                <p>
                    The unit establishes agreements with suppliers of goods and services that can be used across
                    operations.
                </p>

                <div class="grid-3">

                    <p>
                        Procurement specialists provide guidance, advisory and support services to country offices,
                        and carry out oversight missions to ensure the most effective and efficient use of WFP’s
                        resources.
                    </p>
                    <span class="figure text-primary" style="grid-row: 2;" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
                        <small>US$</small>9.5M
                    </span>
                    <p style="grid-row: 3;" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
                        savings resulting from agreements for the purchase of Jet A1 fuel and Satellite Telecoms
                    </p>


                    <div class="bg-primary px-3 pt-3 pb-3" style="grid-row: 1 / 4;">
                        <h6 class="text-uppercase text-white font-weight-bold">yemen runs on WFP fuel</h6>
                        <p class="text-white">
                            In 2018 WFP procured 36 million litres of diesel and petrol in support of the humanitarian
                            response in Yemen.
                        </p>
                        <p class="text-white">
                            This fuel has enabled WFP and its partners to run their operations and provide crucial
                            assistance to the vulnerable.
                        </p>
                    </div>


                    <p style="grid-column: 3;">
                        The unit procures goods and services on behalf of the entire organization, not just Supply
                        Chain. From new HR software to jet fuel for aviation.
                    </p>
                    <span class="figure text-primary" style="grid-column: 3;grid-row: 2;" data-aos="fade-up" data-aos-delay="1500" data-aos-duration="1000">
                        <small>US$</small>70M
                    </span>
                    <p style="grid-column: 3;grid-row: 3;" data-aos="fade-up" data-aos-delay="2000" data-aos-duration="1000">
                        value of commodity voucher contracts in Yemen managed by the unit in 2018
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section-100 goods-image">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-8">
                <div data-aos="fade-up" data-aos-duration="1000">
                    <span class="figure text-primary">
                        <small>US$</small>763M
                    </span>
                    <p class="lead pb-4">
                        goods and services
                        <br />
                        purchased in 2018
                    </p>
                </div>

                <div data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
                    <p class="lead mb-0">
                        from
                    </p>
                    <span class="figure text-primary">
                        152
                    </span>
                    <p class="lead">
                        countries
                    </p>

                </div>


            </div>
        </div>
    </div>
</section>