<section class="section unit-content pt-5 pb-5">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 col-xl-10 offset-xl-1">
				<h1 class="unit-title">
					Logistics Cluster
				</h1>
				<h2 class="unit-subtitle text-danger">
					The Logistics Cluster enables global, regional and local actors to meet humanitarian needs
				</h2>
				<p>
						The cluster works with stakeholders in high-risk countries and regions to strengthen local
						logistics
						capacities. In crises, where these capacities are exceeded, the cluster provides leadership,
						coordination, information and operational services.
					</p>
				<div class="row align-items-center">
					<div class="col-md-6">
						<p>
							Globally, the Logistics Cluster is a community of partners actively working together to
							develop and
							share best practices and solutions and to effectively and efficiently fill critical
							logistics gaps
							in emergencies.
						</p>
						<p>
							WFP is the lead agency of the Logistics Cluster, appointed by the Inter-Agency Standing
							Committee
							(IASC) due to its expertise in the field of humanitarian logistics and its operational
							reach. As
							lead agency, WFP acts as provider of last resort when necessary, ensuring humanitarian
							actors have
							access to the common logistics services they need to complete their important work.
						</p>
						<p>
							During 2018, the Logistics Cluster had active operations in 13 countries.
						</p>
					</div>

					<div class="col-md-6 text-right">
						<img src="images/lcnumbers.png" alt="Chart with Logistics Cluster supported organisations"
							 height="400px">
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
<section class="section section-100 logistics-image">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 offset-md-6 col-lg-4 offset-lg-8">
				<div class="quote-content quote-text" data-aos="fade-down" data-aos-duration="1000"
					data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
					<svg class="fill-white icon-lg mb-3">
						<use xlink:href="sprite.svg#quote"></use>
					</svg>
					<br />
					<p class="quote">
						I’ve worked in logistics for over 14 years, and almost 9 years in the humanitarian sector.
						Despite all the
						ups and downs I realiZe there is no greater satisfaction thAn helping others in their time of
						need. This is
						also something I want to pass down to my daughter.”
					</p>
					<p class="quote-name">
						Samuel Terefe,<br />
						Logistics Cluster Coordinator, Syria
					</p>
					<p class="lead text-white">
						Samuel started his career with WFP in Ethiopia in 2009 and has been with the Logistics Cluster
						in Syria
						since 2016.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>