<section class="unit-content planning-image">
    <div class="container">
        <div class="row">
            <div class="col col-xl-5 offset-xl-1 text-white bg-success px-5 pt-5 pb-5">
                <h1 class="unit-title text-white">
                    Planning
                </h1>
                <h2 class="unit-subtitle">
                    Planning works to identify the best operational solutions
                </h2>
                <p>
                    The size, scale and complexity of WFP operations require comprehensive planning.
                </p>
                <p>
                    The Planning Unit works to maximize and mainstream best practices developed across WFP Supply Chain
                    and on developing state of the art solutions leveraging advanced analytics tools.
                </p>

                <p class="lead text-white mt-5">
                    Planning provides support to:
                </p>

                <div class="media">
                    <svg class="media-icon align-self-center mr-3">
                        <use xlink:href="sprite.svg#management"></use>
                    </svg>
                    <div class="media-body">
                        <h6 class="text-uppercase font-weight-bold mt-0">management</h6>
                        <p>
                            bringing end-to-end visibility on WFP operations
                        </p>
                    </div>
                </div>


                <div class="media">
                    <svg class="media-icon align-self-center mr-3">
                        <use xlink:href="sprite.svg#tools"></use>
                    </svg>
                    <div class="media-body">
                        <h6 class="text-uppercase font-weight-bold">
                            Country Offices and Regional Bureaux
                        </h6>
                        <p>
                            identifying optimization opportunities, making new tools available and training staff
                        </p>
                    </div>
                </div>

                <div class="media">
                    <svg class="media-icon align-self-center mr-3">
                        <use xlink:href="sprite.svg#solutions"></use>
                    </svg>
                    <div class="media-body">
                        <h6 class="text-uppercase font-weight-bold">
                            L3 emergencies
                        </h6>
                        <p>
                            identifying solutions for complex scenarios
                        </p>
                    </div>
                </div>                

                <p class="lead text-white mt-5">
                    In South Sudan, delivery modalities to deep-field locations were optimized, decreasing the need for
                    airdrops and thereby reducing costs. Also, the delivery network and the corridor utilization for
                    prepositioning were optimized.
                </p>
            </div>

            <div class="col col-xl-5">
                <div class="quote-content quote-text" data-aos="fade-down" data-aos-duration="1000"
                    data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
                    <svg class="fill-white icon-lg mb-3">
                            <use xlink:href="sprite.svg#quote"></use>
                        </svg>
                        <br />
                    <q>
                        Supply chain planning is a magic ball which ensures a cost-effective and efficient operation in
                        the country. Whilst we have had to deliver more food assistance than before, we have been able
                        to make substantial reductions in both the delivery costs and lead times, ensuring help gets to
                        the maximum number of people in need.”
                    </q>
                    <p>
                        Adham Effendi <br />
                        Head of Logistics, South Sudan
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>