<section class="unit-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 text-white bg-success px-5 pt-5 pb-5">
                <h1 class="unit-title text-white">
                    Planning
                </h1>
                <h2 class="unit-subtitle">
                    Planning works to identify the best operational solutions
                </h2>
                <p>
                    The size, scale and complexity of WFP operations require comprehensive planning.
                </p>
                <p>
                    The Planning Unit works to maximize and mainstream best practices developed across WFP Supply Chain
                    and on developing state of the art solutions leveraging advanced analytics tools.
                </p>

                <p class="lead text-white">
                    Planning provides support to:
                </p>

                <h6 class="text-uppercase font-weight-bold">management</h6>
                <p>
                    bringing end-to-end visibility on WFP operations
                </p>

                <h6 class="text-uppercase font-weight-bold">
                    Country Offices and Regional Bureaux
                </h6>

                <p>
                    identifying optimization opportunities, making new tools available and training staff
                </p>

                <h6 class="text-uppercase font-weight-bold">
                    L3 emergencies
                </h6>
                <p>
                    identifying solutions for complex scenarios
                </p>

                <p class="lead text-white">
                    In South Sudan, delivery modalities to deep-field locations were optimized, decreasing the need for
                    airdrops and thereby reducing costs. Also, the delivery network and the corridor utilization for
                    prepositioning were optimized.
                </p>
            </div>

            <div class="col-md-6 planning-image">
                <div class="quote-content quote-text" data-aos="fade-down" data-aos-duration="1000" data-aos-duration="1000"
                    data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
                    <q>
                        Supply chain planning is a magic ball which ensures a cost-effective and efficient operation in the country. Whilst we have had to deliver more food assistance than before, we have been able to make substantial reductions in both the delivery costs and lead times, ensuring help gets to the maximum number of people in need.”
                    </q>
                    <p>
                        Adham Effendi <br />
                        Head of Logistics, South Sudan
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>