<section class="section unit-content pt-5 pb-5">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 col-xl-10 offset-xl-1">
				<h1 class="unit-title">
					shipping
				</h1>
				<h2 class="unit-subtitle text-primary">
					USING OCEAN TRANSPORT, WFP IS ABLE TO DELIVER HIGH-VOLUME HUMANITARIAN ASSISTANCE WORLDWIDE
				</h2>
				<p>
					A dedicated shipping unit is responsible for cost-efficient ocean transport services providing
					timely and agile operational support to WFP operations, ensuring aid is delivered at the right time,
					in the right quantity and with the most appropriate mode of transport.
				</p>
				<div class="row">
					<div class="col-md-4">
						<svg class="figure-icon icon-md">
							<use xlink:href="sprite.svg#sea"></use>
						</svg>
						<span class="figure text-primary">2.8M</span>
						<p class="lead">
							MT shipped by sea
						</p>
					</div>
					<div class="col-md-8">
						<p>
							Shipping is in charge of concluding long-term and spot contracts for cargo handling, for
							maintaining and reviewing WFP’s network of brokers, forwarding agents and other service
							providers. Furthermore, shipping officers conduct market intelligence and port assessments.
						</p>
						<p>
							The Shipping Unit is also responsible for sea passenger operations to support complex
							operations such as the humanitarian response in Yemen, where 160 passenger and cargo voyages
							were completed in 2018 using two vessels.
						</p>
					</div>
				</div>
				<p>
					<strong class="text-primary">75 percent</strong> of transported commodities were discharged in only
					<strong class="text-primary">10 ports</strong>: Aden, Hudaydah and Saleef (Yemen); Mombasa (Kenya);
					Port Sudan (Sudan);
					Djibouti (Djibouti), Berbera (Somalia); Tartous (Syria); Salalah (Oman); and Douala (Cameroon).
				</p>
			</div>
		</div>
	</div>
</section>
<section class="section section-50 shipping-image pt-5 pb-5">
	<div class="container">
		<div class="row section-50">
			<div class="col-lg-8 offset-lg-2 col-xl-10 offset-xl-1 d-flex flex-column">
				<h4 class="text-white tonnage">TOTAL TONNAGE SHIPPED</h4>
				<div class="row shipping-figures align-self-end">
					<div class="col" data-aos="fade-up" data-aos-duration="1000" data-aos-duration="1000" data-aos-delay="500">
						<span class="figure">
							1.9
						</span>
						<p class="text-white font-weight-bold">Million MT</p>
						<p class="text-white">
							2014
						</p>
					</div>

					<div class="col" data-aos="fade-up" data-aos-duration="1000" data-aos-duration="1000" data-aos-delay="1000">
						<span class="figure">
							2.2
						</span>
						<p class="text-white font-weight-bold">Million MT</p>
						<p class="text-white">
							2016
						</p>
					</div>

					<div class="col" data-aos="fade-up" data-aos-duration="1000" data-aos-duration="1000" data-aos-delay="1500">
						<span class="figure">
							2.8
						</span>
						<p class="text-white font-weight-bold">Million MT</p>
						<p class="text-white">
							2018
						</p>
					</div>
				</div>
				<% include ../_partials/_shipping %>
			</div>
		</div>
	</div>
</section>