<section class="section unit-content pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-xl-10 offset-xl-1">
                <h1 class="unit-title">
                    shipping
                </h1>
                <h2 class="unit-subtitle text-primary">
                    USING OCEAN TRANSPORT, WFP IS ABLE TO DELIVER HIGH-VOLUME HUMANITARIAN ASSISTANCE WORLDWIDE
                </h2>
                <p>
                    A dedicated shipping unit is responsible for cost-efficient ocean transport services providing
                    timely and agile operational support to WFP operations, ensuring aid is delivered at the right time,
                    in the right quantity and with the most appropriate mode of transport.
                </p>
                <div class="row">
                    <div class="col-md-4">
                        <svg class="figure-icon icon-md">
                            <use xlink:href="sprite.svg#sea"></use>
                        </svg>
                        <span class="figure text-primary">2.8M</span>
                        <p class="lead">
                            MT shipped by sea
                        </p>
                    </div>
                    <div class="col-md-8">
                        <p>
                            Shipping is in charge of concluding long-term and spot contracts for cargo handling, for
                            maintaining and reviewing WFP’s network of brokers, forwarding agents and other service
                            providers. Furthermore, shipping officers conduct market intelligence and port assessments.
                        </p>
                        <p>
                            The Shipping Unit is also responsible for sea passenger operations to support complex
                            operations such as the humanitarian response in Yemen, where 160 passenger and cargo voyages
                            were completed in 2018 using two vessels.
                        </p>
                    </div>
                </div>
                <p>
                    <strong class="text-primary">75 percent</strong> of transported commodities were discharged in only
                    <strong class="text-primary">10 ports</strong>: Aden, Hudaydah and Saleef (Yemen); Mombasa (Kenya); Port Sudan (Sudan);
                    Djibouti (Djibouti), Berbera (Somalia); Tartous (Syria); Salalah (Oman); and Douala (Cameroon).
                </p>
            </div>
        </div>
    </div>
</section>
<section class="section section-50 shipping-image pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-xl-10 offset-xl-1">
                <h4 class="text-white">TOTAL TONNAGE SHIPPED</h4>
                <!-- graphic -->
            </div>
        </div>
    </div>
</section>