<section class="unit-content">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-xl-5 offset-xl-1 px-5 pt-5 pb-5">
				<h1 class="unit-title">
					storage
				</h1>
				<h2 class="unit-subtitle text-danger">
					STORAGE IS A KEY stage IN A COMMODITY’S JOURNEY TO BENEFICIARIES
				</h2>
				<p>
					Good storage facilities and solid warehouse management are integral
					components of WFP supply chain and crucial to the ability to deliver
					food and non-food assistance.
				</p>
				<p>
					WFP uses many different types of warehouse facilities. Some are
					permanent structures, others are temporary and deployed to serve
					immediate emerging needs following emergencies, or to be close to the
					final distribution points.
				</p>
				<p>
					WFP staff are trained in setting up mobile storage units, as well as
					in managing stocks effectively to ensure the quality of all stored
					items and minimize losses.
				</p>
				<img src="images/storage.jpg" alt="BRUNO RAKOTOSAN in front of WFP warehouse" class="img-fluid pt-4" />
				<p class="pt-5">
					The logistics centre in Amboasary in the south of Madagascar is a key
					hub with a capacity of 5,000 mt, serving one of the most fragile areas
					of the country.
				</p>
			</div>

			<div class="col-md-6 col-xl-4 offset-xl-1 bg-red text-white pt-5 pb-5 storage-grid">

				<div class="media align-self-center" style="grid-column: 2;">
					<svg class="icon-md fill-red align-self-center mr-3">
						<use xlink:href="sprite.svg#warehouses"></use>
					</svg>
					<div class="media-body ">
						<span class="figure">597</span>
						<p class="lead text-white">
							warehouses
						</p>
					</div>
				</div>

				<div style="grid-column: 1; grid-row: 1 / 3;" class="mt-5">
					<svg class="icon-md fill-red mb-3">
						<use xlink:href="sprite.svg#globe"></use>
					</svg>
					<span class="figure">
						75
					</span>
					<p class="lead text-white">
						countries
					</p>

				</div>

				<div class="media align-self-center mt-5" style="grid-column: 2; grid-row: 2 / 4;">
					<svg class="icon-md fill-red align-self-center mr-3">
						<use xlink:href="sprite.svg#wfp"></use>
					</svg>
					<div class="media-body ">
						<span class="figure">447</span>
						<p class="lead text-white">
							managed by WFP
						</p>
					</div>

				</div>

				<div class="mb-5 d-flex align-items-end flex-column" style="grid-column: 2; grid-row: 4;">
					<svg class="icon-md fill-red align-self-end ml-3">
						<use xlink:href="sprite.svg#partners"></use>
					</svg>
					<span class="figure">150</span>
					<p class="lead text-white text-right">managed by third parties</p>

				</div>

				<svg class="fill-white icon-lg mb-3 align-self-end" style="grid-column: 1; grid-row: 4;">
					<use xlink:href="sprite.svg#quote"></use>
				</svg>
				<div style="grid-column: 1 / 3; grid-row: 5;">
					<div class="font-weight-bold text-uppercase mb-3 lead text-white">
						We record very few food losses annually, a testament to our strict
						food management and storage practices. We are also very happy to see
						the way our work has promoted the local purchase of food from
						smallholder farmers. <br /> I am really proud to work in AMBOASARY.”
					</div>
					<p class="text-white text-uppercase">
						BRUNO RAKOTOSAN, <br />
						WFP’S HUB MANAGER, AMBOASARY, MADAGASCAR
					</p>
				</div>
			</div>
		</div>
	</div>
</section>