<section class="unit-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xl-5 offset-xl-1 pr-5 pt-5 pb-5">
        <h1 class="unit-title">
          SURFACE TRANSPORT
        </h1>
        <h2 class="unit-subtitle text-primary">
          Surface transport includes land transport and logistics activities
          that enable food to be safely delivered to final locations
        </h2>
        <p>
          To fill critical gaps in the commercial transport market, WFP relies
          on its own fleet of trucks, essential in operating environments that
          are remote, insecure, or lacking in infrastructure.
        </p>
        <p class="lead">
          In 2018, Global Fleet owned and operated a fleet of
          <strong class="text-primary">325 trucks</strong>.
        </p>
        <p>
          The Global Fleet Unit is responsible for the management of these
          trucks, located in two hubs, in Accra and Kampala, for fast deployment
          to emergencies. The unit also ensures supervision of operations and
          provides technical support and training.
        </p>
        <p class="lead">
          <strong class="text-primary">More than 200 trucks</strong> were
          deployed every month in 2018 from the hubs to deliver food in often
          very challenging conditions.
        </p>
        <img
          src="images/surface.jpg"
          alt="Trucks on dirt road"
          class="img-fluid"
        />
      </div>

      <div
        class="col-md-6 col-xl-4 offset-xl-1 bg-blue text-white px-5 pt-5 pb-5"
      >
        <p class="lead text-white">
          Once the food reaches the destination country, it is transported to
          the partners’ warehouses for distribution, via road, river, or rail,
          depending on the geography of the country and accessibility. Surface
          transport is, however, mainly road transport.
        </p>

        <div class="media">
          <svg class="figure-icon fill-blue align-self-center mr-3">
            <use xlink:href="sprite.svg#truckpartners"></use>
          </svg>
          <div class="media-body">
            <span class="figure">18,220</span>
            <p class="lead text-white">
              contracts with land transporters in 2018 for a value of
            </p>
          </div>
        </div>

        <div class="media">
          <div class="media-body">
            <span class="figure"> <small>US$</small>982M </span>
            <p class="lead text-white">
              which translated into
            </p>
          </div>
          <svg class="figure-icon fill-blue align-self-center ml-3">
            <use xlink:href="sprite.svg#money"></use>
          </svg>
        </div>

        <div class="media">
          <svg class="figure-icon fill-blue align-self-center mr-3">
            <use xlink:href="sprite.svg#truck"></use>
          </svg>
          <div class="media-body">
            <span class="figure">5,600</span>
            <p class="lead text-white">
              trucks on the road daily
            </p>
          </div>
        </div>

        <div class="media">
          <div class="media-body text-right">
            <span class="figure">93</span>
            <p class="lead text-white">countries</p>
          </div>
          <svg class="figure-icon fill-blue align-self-center ml-3">
            <use xlink:href="sprite.svg#globe"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
