<section class="unit-content">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-xl-5 offset-xl-1 px-5 pt-5 pb-5">
				<h1 class="unit-title">
					United Nations Humanitarian Response Depot
				</h1>
				<h2 class="unit-subtitle text-primary">
					UNHRD offers supply chain solutions to the humanitarian community
				</h2>
				<p class="font-weight-bold">
					UNHRD is a network of six hubs located in Ghana, Italy, Malaysia, Panama, Spain and the United Arab
					Emirates that procures, manages and transports emergency supplies for the humanitarian community.
				</p>
				<p>
					UNHRD is a one stop shop for partners, offering free storage, procurement, transport, and cargo
					handling, as well as the HRD Field Team, which is available on call and at the onset of an
					emergency. The Field Team helps organizations set up equipment, consolidate cargo, manage non-food
					items and train local staff.
				</p>
				<p>
					UNHRD also hosts the LAB, a research and development unit that reviews, tests and helps develop
					innovative solutions and products for supply chain operations. It aims to improve logistics support
					equipment and provide solutions for reducing waste from relief items packaging.
				</p>
				<p>
					In 2018, UNHRD supported the relief efforts of its partners in some of the world’s worst
					humanitarian crises, including Bangladesh, Yemen, the Democratic Republic of the Congo, South Sudan
					and Somalia.
				</p>
			</div>

			<div class="col-md-6 col-xl-4 offset-xl-1 bg-blue text-white unhrd-grid">
					<div class="media" style="grid-column: 1 / 3;">
						<svg class="icon-md fill-blue align-self-center mr-3">
							<use xlink:href="sprite.svg#money"></use>
						</svg>
						<div class="media-body">
							<span class="figure">
								<small>US$</small>58M
							</span>
							<p class="lead text-white">
								relief items and support equipment
							</p>
						</div>
					</div>
	
	
					<div class=" align-self-center" style="grid-row: 2;">
						<svg class="icon-md fill-blue">
							<use xlink:href="sprite.svg#forklift"></use>
						</svg>
						<p class="lead text-white text-uppercase">
								through
							</p>
							<span class="figure">567</span>
							<p class="lead text-white">
								shipments
							</p>
					</div>
	
	
					<div style="grid-column: 2;">
							<p class="lead text-white text-uppercase">
								sent to
							</p>
							<span class="figure">
								93
							</span>
							<p class="lead text-white">
								countries
							</p>

							<svg class="icon-md fill-blue mt-5">
									<use xlink:href="sprite.svg#partners"></use>
								</svg>
								<p class="lead text-white text-uppercase">
									on behalf of
								</p>
								<span class="figure">35</span>
								<p class="lead text-white">partners</p>
						</div>
					

	
					<div class="align-self-end" style="grid-column: 2; grid-row: 3 / 5;">
							<svg class="icon-md fill-blue">
									<use xlink:href="sprite.svg#globe"></use>
								</svg>
							<p class="lead text-white text-uppercase">to</p>
							<span class="figure">5</span>
							<p class="lead text-white">countries</p>
							<p>
								Benin, Chad, the Democratic Republic of the Congo, Kenya, Uganda
							</p>
					</div>
	
					<div class="align-self-center" style="grid-column: 1; grid-row: 3 / 5;">
							<svg class="icon-md fill-blue">
									<use xlink:href="sprite.svg#deployment"></use>
								</svg>
						<p class="lead text-white text-uppercase">ALSO DEPLOYED THE FIELD TEAM for</p>
						<span class="figure">395</span>
						<p class="lead text-white">days</p>
						<p>
							to install equipment, provide technical assistance to the teams on the ground and train
							local staff
							in installation and equipment maintenance
						</p>
						
					</div>
			</div>
		</div>
	</div>
</section>