<section class="section unit-content pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-xl-10 offset-xl-1 offset-lg-2">
                <h1 class="unit-title">
                    United Nations Humanitarian Air Service
                </h1>
                <h2 class="unit-subtitle text-primary">
                    UNHAS PROVIDES SAFE, RELIABLE AND EFFICIENT AIR TRANSPORT SERVICE TO ENABLE AID WORKERS TO REACH
                    PEOPLE IN NEED IN COUNTRIES AFFECTED BY CONFLICTS AND NATURAL DISASTERS
                </h2>

                <div class="row pt-5">
                    <div class="col-md-4 pb-md-0 pb-4">
                        <p>
                            During sudden onset emergencies, air transport is often the fastest way to reach affected
                            populations. UNHAS enables first responders to provide immediate life-saving assistance and
                            ensures timely delivery of relief supplies to avert loss of life and or deterioration of the
                            humanitarian situation.
                        </p>
                    </div>

                    <div class="col-md-4">
                        <div class="bg-primary px-3 pt-3 pb-3" style="grid-row: 1 / 4;">
                            <p class="text-white lead">
                                UNHAS has 63 aircraft, with an additional 40 aircraft on standby, and its operations are
                                comparable to some international commercial airlines.
                            </p>
                        </div>
                    </div>



                    <div class="col-md-4 pt-md-0 pt-5">
                        <p>
                            UNHAS is managed by WFP on behalf of the humanitarian community. It is in charge of
                            transporting
                            passengers and light cargo for United Nations agencies, NGOs, donors, diplomatic missions
                            and
                            other organizations responding to humanitarian needs across the world.
                        </p>
                    </div>




                </div>

                <p class="pt-4">
                    UNHAS also performs medical evacuations and security relocation for aid workers. Following the two
                    Ebola breakouts in the Democratic Republic of the Congo, UNHAS promptly deployed customized
                    helicopters to transport health personnel and biological samples, and to serve as evacuation
                    capacity for suspected patients.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section section-100 unhas-image pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-xl-10 offset-xl-1 section-100">
                <h4 class="text-white">2018 in numbers</h4>

                <div class="row align-items-end" style="height: 100%">

                    <div class="col-md-4" data-aos="fade-up" data-aos-duration="1000">
                        <span class="figure">
                            386K
                        </span>
                        <p class="lead text-white">
                            passengers transported
                        </p>
                        <span class="figure">
                            16
                        </span>
                        <p class="lead text-white">
                            countries served
                        </p>
                    </div>

                    <div class="col-md-4" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                        <span class="figure">
                            3,656
                        </span>
                        <p class="lead text-white">
                            MT of cargo transported
                        </p>
                        <span class="figure">
                            700
                        </span>
                        <p class="lead text-white">
                            partners supported
                        </p>
                    </div>

                    <div class="col-md-4" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
                        <p class="lead text-white">
                            Performed the highest number of security evacuations at one time by evacuating 245
                            humanitarian aid workers in only two days following an attack on humanitarian premises in
                            Maban, South Sudan.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>