<% include _partials/_head %>

<body>
  <main>
    <% include _partials/_cover %>

    <% include _partials/_quote %>

    <% include _partials/_divider %>

    <% include _partials/_foodProc %>

    <% include _partials/_goods %>
    
  </main>
  <% include _partials/_footer %>