<% include _partials/_head %>

<body>
  <main>
    <% include _partials/_cover %>

	<% include _divider/_elements %>
	
	<% include _divider/_yemen %>
	
	<% include _divider/_map %>

    <% include _divider/_quote %>

    <% include _divider/_divider %>

    <% include _units/_planning %>

    <% include _units/_advisoryServices %>

    <% include _units/_foodProc %>

    <% include _units/_foodSafety %>

    <% include _units/_goods %>

    <% include _units/_surfaceTransport %>

    <% include _divider/_stanley %>

    <% include _units/_shipping %>

    <% include _divider/_alia %>

    <% include _units/_aviation %>

    <% include _units/_storage %>

    <% include _units/_cbt %>

    <% include _divider/_community %>

    <% include _divider/_dividerCommunity %>

    <% include _units/_bilateralServices %>

    <% include _units/_unhas %>

	<% include _units/_logisticsCluster %>

	<% include _units/_unhrd %>

    <% include _divider/_donor %>

    <% include _divider/_end %>
    
  </main>
  <% include _partials/_footer %>