<section class="section section-100 alia pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col col-lg-8 offset-lg-2 col-xl-10 offset-xl-1">
        <h1 class="text-primary text-uppercase title mb-5 text-center">
          Insight
        </h1>

        <div class="row pt-5">
          <div class="col-md-6">
            <div class="row">
              <div class="col-5 col-md-4 mt-5 mt-md-0">
                <p class="lead text-white mb-0">
                  In 2018
                </p>
                <span class="figure text-primary">70%</span>
                <p class="text-white">
                  of all food for general distribution
                </p>
                <svg class="figure-icon icon-md">
                  <use xlink:href="sprite.svg#sea"></use>
                </svg>
                <p class="text-white mb-4">
                  entered Syria through the ports of Tartous and Lattakia
                </p>
              </div>
            </div>

            <h2 class="name text-white">
              Alia
            </h2>
            <br />
            <h2 class="name text-white">
              Al-Khoury
            </h2>
            <p class="lead text-white mt-4">
              An expert in shipping and import operations, Alia Al-Khoury has
              worked for WFP for more than a decade. Leading a team of 15, she
              headed WFP port operations in Tartous and Lattakia, Syria, from
              2016 through 2018.
            </p>
          </div>

          <div class="col-md-4 offset-md-2 col-lg-3 offset-lg-2">
            <p class="text-right text-white lead">
              "I don’t need to pick up a 50 kg bag of food to prove myself;
              knowledge and humility are more important than big muscles to do
              your job well and earn respect. My team – actually, more like a
              family – and I are passionate about our work because we can see
              how our work saves lives and delivers hope."
            </p>
            <p class="text-white text-uppercase text-right">
              Alia Al-Khoury Logistics Officer Port Operation in Tartous and
              Lattakia
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
