<section class="section-100 community">
    <div class="container">
        <div class="row align-items-end section-100">
            <div class="col-lg-3 text-white quote-content" data-aos="fade-up" data-aos-duration="1000">
                <p>WFP’s expertise in humanitarian supply chain and its extensive field presence enables it to provide logistics services to other humanitarian actors.</p>
                <p>
                    WFP is making assets and services available to humanitarian organizations, supporting them in responding to emergencies more effectively and efficiently. 
                </p>
            </div>
        </div>
    </div>
</section>