<section class="section section-20 divider px-5" id="supportingCommunity">
    <h1 class="text-uppercase" data-aos="fade-right" data-aos-duration="1000">support to the humanitarian community</h1>
</section>