<section class="section section-100 donor">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 col-xl-10 offset-xl-1">
                <p class="lead text-white">
                        WFP Supply Chain is grateful to all donors for their contributions to WFP, without which the work of the division would not be possible.
                        Donors who also contributed directly to the common logistics services, including the Logistics Cluster, UNHAS and UNHRD, are noted in bold. 
                </p>
                <h3 class="text-uppercase text-white">
                        Afghanistan - African  Development  Bank - Andorra - Armenia - Australia - Austria - Bangladesh - Belgium - Benin - Bolivia - Brazil - Burkina Faso - Burundi - Cambodia - Canada - Chile - China - Colombia - Côte d’Ivoire - Croatia - Cyprus - Czechia - Democratic  People’s Republic of Korea - Denmark - Djibouti - Dominican Republic - Estonia - European Commission - Finland - France - Germany - Ghana - Guatemala -  Guinea  - Guinea Bissau - Honduras - Hungary - Iceland - India - Ireland - Israel - Italy - Japan - Kazakhstan - Kenya - Kuwait - Laos - Lesotho - Liechtenstein - Lithuania - Luxembourg - Madagascar - Malaysia - Malta - Monaco - Namibia - Nepal - Netherlands - New Zealand - Nicaragua - Niger - Nigeria - Norway - OPEC Fund for International Development - Pakistan  - Panama - Peru - Philippines - Poland - Portugal - Private Donors - Qatar - Republic of Korea - Romania - Russian Federation - Saudi Arabia - Sierra Leone - Slovakia - Slovenia - South Africa - South Sudan - Spain - Sri Lanka - Sudan - Sweden - Switzerland - Thailand - Timor Leste - Turkey - UN CERF - UN Other Funds and Agencies - United Arab Emirates - United Kingdom - United States of America - World Bank - zambia
                </h3>
            </div>
        </div>
    </div>
   
</section>