<section class="section section-100 donor pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-xl-10 offset-xl-1">
        <p class="lead text-white">
          WFP Supply Chain is grateful to all donors for their contributions to
          WFP, without which the work of the division would not be possible.
          Donors who also contributed directly to the common logistics services,
          including the Logistics Cluster, UNHAS and UNHRD, are noted in bold.
        </p>
        <h3 class="text-uppercase" data-aos="fade-up"
		data-aos-duration="1000"
		data-aos-delay="1000">
          Afghanistan - African Development Bank - Andorra - Armenia -
          <strong>Australia</strong>
          - Austria - Bangladesh - <strong>Belgium</strong> - Benin - Bolivia -
          Brazil - Burkina Faso - Burundi - Cambodia - <strong>Canada</strong> -
          Chile - China - Colombia - Côte d’Ivoire - Croatia - Cyprus - Czechia
          - Democratic People’s Republic of Korea - Denmark - Djibouti -
          Dominican Republic - Estonia - <strong>European Commission</strong> -
          Finland - France - <strong>Germany</strong> - <strong>Ghana</strong> -
          Guatemala - Guinea - Guinea Bissau - Honduras - Hungary - Iceland -
          India - <strong>Ireland</strong> - Israel - <strong>Italy</strong> -
          <strong>Japan</strong> - Kazakhstan - Kenya - Kuwait - Laos - Lesotho
          - Liechtenstein - Lithuania - <strong>Luxembourg</strong> - Madagascar
          - <strong>Malaysia</strong> - Malta - Monaco - Namibia - Nepal -
          Netherlands - New Zealand - Nicaragua - Niger - Nigeria -
          <strong>Norway</strong> - OPEC Fund for International Development -
          Pakistan - <strong>Panama</strong> - Peru - Philippines - Poland -
          Portugal - <strong>Private Donors</strong> - Qatar -
          <strong>Republic of Korea</strong>
          - Romania - Russian Federation - <strong>Saudi Arabia</strong> -
          Sierra Leone - Slovakia - Slovenia - South Africa - South Sudan -
          Spain - Sri Lanka - Sudan - <strong>Sweden</strong> -
          <strong>Switzerland</strong> - Thailand - Timor Leste - Turkey -
          <strong>UN CERF</strong> -
          <strong>UN Other Funds and Agencies</strong> -
          <strong>United Arab Emirates</strong> - United Kingdom -
          <strong>United States of America</strong> - World Bank - zambia
        </h3>
      </div>
    </div>
  </div>
</section>
