<section class="section section-100 elements pt-5 pb-5">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h1 class="unit-title text-white mb-5">
					Elements of WFP Supply Chain
				</h1>
			</div>
		</div>

		<div class="row align-items-center">
			<div class="col-lg-3" data-aos="fade-up" data-aos-duration="1000">
				<div class="card card-dashed px-3 pt-3">
					<h6 class="text-red text-uppercase font-weight-bold">
						FOOD PROCUREMENT
					</h6>
					<p class="text-white">
						Purchasing the right food at the right time to benefit the people we serve
					</p>
				</div>

				<div class="card card-dashed px-3 pt-3">
					<h6 class="text-red text-uppercase font-weight-bold">
						GOODS & SERVICES
						PROCUREMENT
					</h6>
					<p class="text-white">
						Procuring the goods and services that keep the organization running
					</p>
				</div>

				<div class="card card-dashed px-3 pt-3">
					<h6 class="text-red text-uppercase font-weight-bold">
						BUSINESS SUPPORT
					</h6>
					<p class="text-white">
						Providing back-end support to keep operations running
					</p>
				</div>

				<div class="card card-dashed px-3 pt-3">
					<h6 class="text-blue text-uppercase font-weight-bold">
						LOGISTICS CLUSTER
					</h6>
					<p class="text-white">
						Working together with other organizations to improve the logistics response in emergencies
					</p>
				</div>

				<div class="card card-dashed px-3 pt-3">
					<h6 class="text-blue text-uppercase font-weight-bold">
						UNHRD
					</h6>
					<p class="text-white">
						Maintaining a global network of hubs that store and dispatch prepositioned relief supplies to
						emergencies
					</p>
				</div>

				<div class="card card-dashed px-3 pt-3">
					<h6 class="text-blue text-uppercase font-weight-bold">
						UNHAS
					</h6>
					<p class="text-white">
						Flying humanitarians to the most remote and hard-to-reach locations
					</p>
				</div>

				<div class="card card-dashed px-3 pt-3">
					<h6 class="text-green text-uppercase font-weight-bold">
						RISK AND INSURANCE
					</h6>
					<p class="text-white">
						Developing and implementing risk management and insurance programmes for evolving organizational
						needs
					</p>
				</div>

				<div class="card card-dashed px-3 pt-3">
					<h6 class="text-red text-uppercase font-weight-bold">
						SHIPPING
					</h6>
					<p class="text-white">
						Using ocean transport to deliver high-volume humanitarian assistance worldwide
					</p>
				</div>
			</div>
			<div class="col-lg-6 mb-4" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
				<img src="images/elements.svg" class="img-fluid elements-img"
					alt="Orbit grahic with icons representing the several elements of supply chain">
			</div>
			<div class="col-lg-3" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1000">
				<div class="card card-dashed px-3 pt-3">
					<h6 class="text-red text-uppercase font-weight-bold">
						CASH-BASED TRANSFERS
						& MARKETS
					</h6>
					<p class="text-white">
						Strengthening markets to empower beneficiaries to make their own food choices
					</p>
				</div>

				<div class="card card-dashed px-3 pt-3">
					<h6 class="text-red text-uppercase font-weight-bold">
						FOOD SAFETY AND QUALITY
						ASSURANCE
					</h6>
					<p class="text-white">
						Ensuring beneficiaries have access to safe and high-quality food
					</p>
				</div>

				<div class="card card-dashed px-3 pt-3">
					<h6 class="text-red text-uppercase font-weight-bold">
						BILATERAL SERVICE
						PROVISION
					</h6>
					<p class="text-white">
						Providing partners with key logistics services to support their programme interventions
					</p>
				</div>

				<div class="card card-dashed px-3 pt-3">
					<h6 class="text-green text-uppercase font-weight-bold">
						PLANNING
					</h6>
					<p class="text-white">
						Identifying the best operational solutions

					</p>
				</div>

				<div class="card card-dashed px-3 pt-3">
					<h6 class="text-blue text-uppercase font-weight-bold">
						SOLVE
					</h6>
					<p class="text-white">
						Strengthening health supply chains globally
					</p>
				</div>

				<div class="card card-dashed px-3 pt-3">
					<h6 class="text-green text-uppercase font-weight-bold">
						NORMATIVE GUIDANCE
						AND COMPLIANCE
					</h6>
					<p class="text-white">
						Harmonizing business models and processes and ensuring a high degree of compliance
					</p>
				</div>

				<div class="card card-dashed px-3 pt-3">
					<h6 class="text-blue text-uppercase font-weight-bold">
						AVIATION
					</h6>
					<p class="text-white">
						Providing vital assistance to the most remote and hard-to-reach locations by air
					</p>
				</div>

				<div class="card card-dashed px-3 pt-3">
					<h6 class="text-green text-uppercase font-weight-bold">
						LOGISTICS
					</h6>
					<p class="text-white">
						Managing an intricate storage and transport network to ensure effective and efficient delivery
					</p>
				</div>
			</div>
		</div>
	</div>
</section>