<section class="section section-100 bg-gray-dark map-image pt-5 pb-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h1 class="text-white unit-title">Emergency Response</h1>
        <h1 class="text-red text-uppercase">In 2018</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-xl-3 text-white">
        <p>
          WFP’s core mandate is to assist people affected by conflict and
          natural disasters to alleviate their suffering, protect their dignity
          and save their lives.
        </p>
        <p>
          In 2018, WFP responded to eight L3 and ten L2 emergencies,
          humanitarian crises of large scale and the most severe impact, with L3
          being the most severe crises requiring the mobilization of the entire
          humanitarian system. All of these crises were conflict-driven or
          complex emergencies.
        </p>
        <p class="font-weight-bold">
          To ensure the timely delivery of assistance in contexts where access
          is difficult and where dire humanitarian conditions require immediate
          action, the supply chain must be flawless because the lives and
          livelihoods of millions of people depend on it.
        </p>
        <p>
          WFP is increasingly using cash-based transfers in emergency responses,
          empowering beneficiaries with the flexibility to make their own
          decisions when it comes to food.
        </p>
        <small
          >On 29/05/2018 the Sahel L3 was downgraded to an L2 and referred to as
          “Mali L2”</small
        >
        <small>
          On 21/03/2018 Myanmar was referred to as an L2 and on 20/12/2018 the
          Bangladesh L3 was downgraded to an L2</small
        >
      </div>

      <div class="col-xl-9">
        <div class="row">
          <div class="col-md-6 col-xl-3 text-center">
            <div class="card card-dashed">
              <span class="figure text-primary">
                2.8M
              </span>
              <p class="lead text-white">
                MT of food
              </p>

              <span class="figure text-primary">
                <small>US$</small> 1.08B
              </span>
              <p class="lead text-white">
                cash assistance
              </p>
              <p class="lead text-red">
                for L3 emergencies
              </p>
            </div>
          </div>

          <div class="col-md-6 col-xl-3 offset-xl-6 text-center">
            <div class="card card-dashed">
              <span class="figure text-red">
                53%
              </span>
              <p class="lead text-white">
                of WFP’s overall cash assistance in 2018 to Syria+5 crisis
              </p>
            </div>

            <div class="card card-dashed">
              <span class="figure text-red">
                1.4M
              </span>
              <p class="lead text-white">
					MT of food
              </p>
            </div>

            <div class="card card-dashed">
              <span class="figure text-red"> <small>US$</small> 85M </span>
              <p class="lead text-white">
                cash assistance
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
