<section class="section section-100 bg-dark pt-5 pb-5" id="numbers">
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2 col-xl-10 offset-xl-1">
				<h1 class="unit-title text-center text-white">2018 Supply Chain in numbers</h1>

				<div class="row">
					<div class="col-md-6 offset-md-3 d-flex justify-content-center">
						<div class="media">
							<svg class="figure-icon fill-light-blue align-self-center mr-3">
								<use xlink:href="sprite.svg#foodBags"></use>
							</svg>
							<div class="media-body">
								<span class="figure text-white">
									3.9M <small>MT</small>
								</span>
								<p class="lead text-white text-uppercase mb-0">
									of food delivered
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="row text-white align-items-center">
					<div class="col-md-5">
						<div class="media">
							<svg class="figure-icon fill-light-blue align-self-center mr-3">
								<use xlink:href="sprite.svg#earth"></use>
							</svg>
							<div class="media-body">
								<p class="lead text-white text-uppercase font-weight-bold mb-0">
									2.9 times
								</p>
								<p class="lead text-white text-uppercase mb-0">
									around the earth
								</p>
								<p>
									(IN STANDARD
									25 KG/75 CM BAGS)
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-2 d-flex justify-content-center">
						<svg class="icon-sm fill-light-blue">
							<use xlink:href="sprite.svg#equal"></use>
						</svg>
					</div>
					<div class="col-md-5">
						<p class="lead text-white text-uppercase mb-0">
							weight of <strong>389</strong> Eiffel Towers

						</p>
						<svg class="fill-light-blue">
							<use xlink:href="sprite.svg#eiffel"></use>
						</svg>
					</div>
				</div>

				<hr class="border-primary">

				<div class="row text-white align-items-center">
					<div class="col-md-5">
						<div class="media">
							<svg class="figure-icon fill-white align-self-center mr-3">
								<use xlink:href="sprite.svg#planes"></use>
							</svg>
							<div class="media-body">
								<span class="figure text-white">
									21M <small>KM</small>
								</span>
								<p class="lead text-white text-uppercase mb-0">
									flown by WFP Aviation and UNHAS
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-2 d-flex justify-content-center">
						<svg class="icon-sm fill-white">
							<use xlink:href="sprite.svg#equal"></use>
						</svg>
					</div>
					<div class="col-md-5">

						<p class="lead text-white text-uppercase mb-0">
							<strong>55 times</strong> the distance from the Earth to the Moon
						</p>

						<svg class="fill-white">
							<use xlink:href="sprite.svg#earthMoon"></use>
						</svg>

					</div>
				</div>

				<hr class="border-white">

				<div class="row text-white align-items-center">
					<div class="col-md-5">
						<div class="media">
							<svg class="figure-icon fill-light-blue align-self-center mr-3">
								<use xlink:href="sprite.svg#container"></use>
							</svg>
							<div class="media-body">
								<span class="figure text-white">
									75K
								</span>
								<p class="lead text-white text-uppercase mb-0">
									Containers shipped

								</p>
							</div>
						</div>
					</div>
					<div class="col-md-2 d-flex justify-content-center">
						<svg class="icon-sm fill-light-blue">
							<use xlink:href="sprite.svg#equal"></use>
						</svg>
					</div>
					<div class="col-md-5">
						<p class="lead text-white text-uppercase mb-0">
							HEIGHT OF <strong>22</strong> MOUNT EVERESTs WHEN STACKED
						</p>
						<svg class="fill-light-blue">
							<use xlink:href="sprite.svg#everest"></use>
						</svg>
					</div>
				</div>

				<hr class="border-primary mt-0">

				<div class="row text-white align-items-center">
					<div class="col-md-5">
						<div class="media">
							<svg class="figure-icon fill-white align-self-center mr-3">
								<use xlink:href="sprite.svg#foodTwo"></use>
							</svg>
							<div class="media-body">
								<span class="figure text-white">
									411 <small>MT</small>
								</span>
								<p class="lead text-white text-uppercase mb-0">
									of food bought in the time it takes you to read this report (1 hour)

								</p>
							</div>
						</div>
					</div>
					<div class="col-md-2 d-flex justify-content-center">
						<svg class="icon-sm fill-white">
							<use xlink:href="sprite.svg#equal"></use>
						</svg>
					</div>
					<div class="col-md-5">
						<p class="lead text-white text-uppercase mb-0">
							WEIGHT OF
							<strong>103</strong> ASIAN ELEPHANTS
						</p>
						<svg class="fill-white">
							<use xlink:href="sprite.svg#elephants"></use>
						</svg>
					</div>
				</div>

				<hr class="border-white">

				<div class="row text-white align-items-center">
					<div class="col-md-5">
						<div class="media">
							<svg class="figure-icon fill-light-blue align-self-center mr-3">
								<use xlink:href="sprite.svg#trucksFront"></use>
							</svg>
							<div class="media-body">
								<span class="figure text-white">
									5.6K
								</span>
								<p class="lead text-white text-uppercase mb-0">
									Trucks on the road every day
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-2 d-flex justify-content-center">
						<svg class="icon-sm fill-white">
							<use xlink:href="sprite.svg#equal"></use>
						</svg>
					</div>
					<div class="col-md-5">
						<p class="lead text-white text-uppercase mb-0">
							<strong>more than the number</strong> passing through the Eurotunnel
							every day

						</p>

						<svg class="fill-light-blue">
							<use xlink:href="sprite.svg#trucksLine"></use>
						</svg>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>