<section class="section section-100 bg-primary pt-5 pb-5">
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2 col-xl-10 offset-xl-1">
				<h1 class="unit-title text-center text-white">2018 Supply Chain in numbers</h1>

				<div class="row">
					<div class="col text-center">
						<div class="text-left">
								<span class="figure text-white">
										3.9M <small>MT</small>
									</span>
									<p class="lead text-white text-uppercase mb-0">
										of food delivered
									</p>
						</div>
					</div>
				</div>

				<div class="row text-white">
					<div class="col-md-5">
						<p class="lead text-white text-uppercase font-weight-bold mb-0">
							2.9 times
						</p>
						<p class="lead text-white text-uppercase mb-0">
							around the earth
						</p>
						<p>
							(IN STANDARD
							25 KG/75 CM BAGS)
						</p>
					</div>
					<div class="col-md-2">
						equal
					</div>
					<div class="col-md-5">
						<p class="lead text-white text-uppercase mb-0">
							weight of <strong>389</strong> Eiffel Towers

						</p>
					</div>
				</div>

				<hr>

				<div class="row text-white">
					<div class="col-md-5">
						<span class="figure text-white">
							21M <small>KM</small>
						</span>
						<p class="lead text-white text-uppercase mb-0">
							flown by WFP Aviation and UNHAS
						</p>
					</div>
					<div class="col-md-2">
						equal
					</div>
					<div class="col-md-5">
						<p class="lead text-white text-uppercase mb-0">
							<strong>55 times</strong> the distance from the Earth to the Moon
						</p>
					</div>
				</div>

				<hr class="border-white">

				<div class="row text-white">
					<div class="col-md-5">
						<span class="figure text-white">
							75K
						</span>
						<p class="lead text-white text-uppercase mb-0">
							Containers shipped

						</p>
					</div>
					<div class="col-md-2">
						equal
					</div>
					<div class="col-md-5">
						<p class="lead text-white text-uppercase mb-0">
							HEIGHT OF <strong>22</strong> MOUNT EVERESTs WHEN STACKED
						</p>
					</div>
				</div>

				<hr>

				<div class="row text-white">
					<div class="col-md-5">
						<span class="figure text-white">
							411 <small>MT</small>
						</span>
						<p class="lead text-white text-uppercase mb-0">
							of food bought in the time it takes you to read this report (1 hour)

						</p>
					</div>
					<div class="col-md-2">
						equal
					</div>
					<div class="col-md-5">
						<p class="lead text-white text-uppercase mb-0">
							WEIGHT OF
							<strong>103</strong> ASIAN ELEPHANTS
						</p>
					</div>
				</div>

				<hr class="border-white">

				<div class="row text-white">
					<div class="col-md-5">
						<span class="figure text-white">
							5.6K
						</span>
						<p class="lead text-white text-uppercase mb-0">
							Trucks on the road every day
						</p>
					</div>
					<div class="col-md-2">
						equal
					</div>
					<div class="col-md-5">
						<p class="lead text-white text-uppercase mb-0">
							<strong>more than the number</strong> passing through the Eurotunnel
							every day

						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>