<section class="section bg-blue pt-5 pb-5">
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2 col-xl-10 offset-xl-1">
				<h1 class="unit-title text-white">
					WORKING WITH PARTNERS TO MAXIMIZE EFFICIENCY
				</h1>
				<h2 class="unit-subtitle text-dark">
					WFP WORKS WITH A WIDE RANGE OF PRIVATE SECTOR PARTNERS WHO PROVIDE CASH, IN-KIND SUPPORT AND
					EXPERTISE TO ASSIST WFP IN REACHING THOSE IN NEED IN THE MOST EFFECTIVE WAY
				</h2>
				<hr class="border-dashed border-white mt-5 mb-5">
				<h2 class="unit-subtitle text-white">
					PARTNERSHIPS WITH RENAULT TRUCKS AND UPS ARE EXAMPLES OF SUCH SUPPORT TO WFP SUPPLY CHAIN
				</h2>

				<div class="media mt-5 mb-5">
					<svg class="figure-icon fill-dark align-self-center mr-3">
						<use xlink:href="sprite.svg#renault"></use>
					</svg>
					<div class="media-body">
						<h2 class="unit-subtitle text-dark">
							RENAULT TRUCKS
						</h2>
						<p class="lead text-white">
							Since 2015, Renault Trucks has supported WFP through fleet training that strengthens the
							capacity of WFP
							mechanics, workshop managers and fleet managers.
						</p>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="media">
							<svg class="icon-md fill-dark align-self-center mr-3">
								<use xlink:href="sprite.svg#staff"></use>
							</svg>
							<div class="media-body d-flex align-items-center">
								<span class="figure text-white">
									200
								</span>
								<p class="lead text-white ml-3">
									<strong class="text-uppercase">WFP Staff</strong> <br />
									trained
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="media">
							<svg class="icon-md fill-dark align-self-center mr-3">
								<use xlink:href="sprite.svg#training"></use>
							</svg>
							<div class="media-body d-flex align-items-center">
								<span class="figure text-white">
									15
								</span>
								<p class="lead text-white ml-3">
									<strong class="text-uppercase">Training sessions</strong> <br />
									in 12 African countries
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="row align-items-center">
					<div class="col-md-5">
						<div class="media">
							<svg class="icon-md fill-dark align-self-center mr-3">
								<use xlink:href="sprite.svg#renTruck"></use>
							</svg>
							<div class="media-body">
								<p class="lead text-white">
									<strong class="text-uppercase">A MOBILE TRAINING UNIT</strong> <br />
									Equipped with a spare engine, tires and other mechanical assets, trains mechanics in
									truck repair and maintenance
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="media">
							<svg class="icon-md fill-dark align-self-center mr-3">
								<use xlink:href="sprite.svg#truckDonated"></use>
							</svg>
							<div class="media-body d-flex align-items-center">
								<span class="figure text-white">
									1
								</span>
								<p class="lead text-white ml-3">
									<strong class="text-uppercase">DONATED MOBILe unit</strong> <br />
									Two will be donated in 2019 and 2020
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="media">
							<svg class="icon-md fill-dark align-self-center mr-3">
								<use xlink:href="sprite.svg#costRed"></use>
							</svg>
							<div class="media-body">
								<p class="lead text-white">
									<strong class="text-uppercase">COSTS REDUCED BY HALF</strong>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section bg-dark">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 offset-lg-2 col-xl-5 offset-xl-1 px-5 pt-5 pb-5" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
				<div class="quote-text mb-5">
					<p class="quote">
							“THE PARTNERSHIP WITH RENAULT TRUCKS IS A REAL SOURCE OF MOTIVATION FOR OUR STAFF, AS WE CAN SEE
						THE
						PRACTICAL BENEFITS. BEFORE, WE WERE LOSING AROUND TWENTY TRUCKS PER YEAR IN CENTRAL AFRICA,
						WHEREAS
						THIS
						YEAR WE HAVEN’T LOST ANY! OUR TEAMS ARE BETTER TRAINED IN FIXING BREAKDOWNS AS WELL AS IN
						PREVENTIVE
						TRUCK
						MAINTENANCE. MAINTENANCE COSTS CAN BE REDUCED UP TO 50 PERCENT.”
				</p>
				</div>
				<p class="lead text-white">
					Jean-François Milhaud, <br />
					Global Fleet Manager
				</p>
			</div>
			<div class="trucks col-lg-4 col-xl-5 section-50"></div>
		</div>
	</div>
</section>

<section class="section bg-blue pt-5 pb-5">
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2 col-xl-10 offset-xl-1">
				<div class="media">
					<svg class="figure-icon fill-dark align-self-center mr-3">
						<use xlink:href="sprite.svg#ups"></use>
					</svg>
					<div class="media-body">
						<h2 class="unit-subtitle text-dark">
							UPS
						</h2>
						<p class="lead text-white">
							WFP has been partners with UPS since 2011. During 2018, the partnership continued and
							strengthened.
						</p>
					</div>
				</div>
				<h3 class="text-uppercase text-white mt-5">
					KEY EVENTS DURING 2018
				</h3>
				<div class="card card-dashed mt-5 mb-5 d-block px-3 pt-3 pb-3">
					<img src="images/keyEvents.png" alt="Timeline from January to December with UPS key support events"
						class="img-fluid">
				</div>

				<p class="text-white">
					<i>*HEB: High Energy Biscuits | *NFI: Non-Food Items</i> <br />
					<i>*Logistics Capacity Assessments (LCAs), are one of the most important WFP tools when it comes to
						emergency response, as they provide standardized information on infrastructure, such as port and
						airport capacity, roads, bridges, as well as cash and markets and telecommunication in a given
						country.</i>
				</p>
			</div>
		</div>
	</div>
</section>

<section class="section pt-5 pb-5">
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2 col-xl-10 offset-xl-1">
				<h2 class="unit-subtitle text-blue">
					STANDBY PARTNERS
				</h2>
				<p class="lead mb-5">
					Standby Partners (SBP) are organizations – NGOs, private sector donors and governmental entities –
					which complement WFP’s emergency response and surge capacity, by rapidly deploying personnel and
					providing equipment at the onset of an emergency. Mutual trust and understanding built over many
					years of partnership further strengthen the collaboration.
				</p>

				<h2 class="unit-subtitle text-blue">
					KANANGA BASE TRAINING CAMP – AN EXAMPLE OF SBP COLLABORATION
				</h2>
				<p class="lead mb-5">
					Establishing an operating base is a major challenge for humanitarians responding to emergencies. In
					2018, as part of a standby partner agreement, the Swedish Civil Contingencies Agency (MSB) expanded
					WFP’s existing office space into an inter-agency hub, providing essential support to the
					humanitarian response in Kasai, DRC.
				</p>

				<div class="row">
					<div class="col text-center" data-aos="fade-up" data-aos-duration="1000">
						<svg class="icon-md fill-light-blue mb-3">
							<use xlink:href="sprite.svg#personnel"></use>
						</svg>
						<h5 class="text-uppercase font-weight-bold text-black">
							7 STANDBY PERSONNEL
						</h5>
						<p class="lead">
							deployed to construct the camp
						</p>
					</div>

					<div class="col text-center" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
						<svg class="icon-md fill-light-blue mb-3">
							<use xlink:href="sprite.svg#prefab"></use>
						</svg>
						<h5 class="text-uppercase font-weight-bold text-black">
							10 PREFABRICATED STRUCTURES
						</h5>
						<p class="lead">
							amounting to <strong>32</strong> additional offices
						</p>
					</div>

					<div class="col text-center" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
						<svg class="icon-md fill-light-blue mb-3">
							<use xlink:href="sprite.svg#meeting"></use>
						</svg>
						<h5 class="text-uppercase font-weight-bold text-black">
							3 PREFABS
						</h5>
						<p class="lead">
							amounting to meeting space for <strong>30-40</strong> people
						</p>
					</div>

					<div class="col text-center" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="800">
						<svg class="icon-md fill-light-blue mb-3">
							<use xlink:href="sprite.svg#toilet"></use>
						</svg>
						<h5 class="text-uppercase font-weight-bold text-black">
							6 NEW TOILET
						</h5>
						<p class="lead">
							facilities
						</p>
					</div>

					<div class="col text-center" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1000">
						<svg class="icon-md fill-light-blue mb-3">
							<use xlink:href="sprite.svg#connect"></use>
						</svg>
						<h5 class="text-uppercase font-weight-bold text-black">
							CONNECTING THE NEW STRUCTURES
						</h5>
						<p class="lead">
							to the power grid
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>