<section class="section section-100 quote mechanic">
    <div class="quote-content quote-text" data-aos="fade-down" data-aos-duration="1000" data-aos-duration="1000"
        data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
        <q>
            I studied mechanics for three years before getting my first job in a car repair shop. After a few years, my
            boss
            told me I could not get a raise because, as a woman, I could not be earning more than men. I resigned and
            found
            a job with WFP, where I have been working since 2007. Since then I do feel treated as an equal and it is
            really
            rewarding.
        </q>
        <p>
            Chifundo CHANGADEYA, <br />
            WFP’S CHIEF MECHANIC in Malawi, <br />
            specializes in truck maintenance
        </p>
    </div>
</section>