<section class="section-100 quote mechanic">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-2 col-xl-5 offset-xl-1 quote-content" data-aos="fade-down" data-aos-duration="1000">
                <div class="quote-text" >
                    <svg class="fill-white icon-lg mb-3">
                        <use xlink:href="sprite.svg#quote"></use>
                    </svg> <br />
                    <q>
                        I studied mechanics for three years before getting my first job in a car repair shop. After a
                        few years, my
                        boss
                        told me I could not get a raise because, as a woman, I could not be earning more than men. I
                        resigned and
                        found
                        a job with WFP, where I have been working since 2007. Since then I do feel treated as an equal
                        and it is
                        really
                        rewarding.
                    </q>
                    <p>
                        Chifundo CHANGADEYA, <br />
                        WFP’S CHIEF MECHANIC in Malawi, <br />
                        specializes in truck maintenance
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>