<section class="section-100 stanley">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 text-white pt-5">
        <h3 class="text-white">
          In 2018, Supply Chain supported school feeding activities in 57
          countries
        </h3>

        <div class="">
          <img
            src="images/delivery.svg"
            alt="Man delivering items to school"
            height="80px"
          />
          <p>Delivered commodities to the schools</p>
        </div>
        <div class="">
          <img
            src="images/homegrown.svg"
            alt="Carrot garden in a sunny day"
            height="80px"
          />
          <p>
            Procured food locally for “home-grown school feeding,” which boosts
            the local economy
          </p>
        </div>
        <div class="">
          <img
            src="images/safeFood.svg"
            alt="Little girl with food"
            height="80px"
          />
          <p>
            Ensured that children got safe food by providing food safety and
            quality guidance and technical support
          </p>
        </div>
        <p class="lead text-white">
          School feeding is one example of how Supply Chain supports WFP’s
          programmatic activities.
        </p>
      </div>
      <div
        class="col-md-6 col-lg-4 offset-lg-8 col-xl-4 offset-xl-4 quote-content"
        data-aos="fade-down"
        data-aos-duration="1000"
        data-aos-delay="1000"
      >
        <div class="quote-text">
          <svg class="fill-white icon-lg mb-3">
            <use xlink:href="sprite.svg#quote"></use>
          </svg>
          <br />
          <p class="quote">
            I have on more than three occasions slept on the road when my truck
            got stuck in the mud or when the roads were impassable due to poor
            conditions. But I’m always inspired every time I arrive at a school
            to deliver food for school meals. I’m welcomed by children joyfully
            shouting ‘Porridge! Porridge! Porridge!’”
		  </p>
          <p class="quote-name">
            STANLEY KONDOWE, A WFP TRUCK DRIVER IN MALAWI, DELIVERS SCHOOL MEALS
            AND LIFE-SAVING SUPPORT TO HARD-TO-REACH COMMUNITIES
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
