<section class="section section-100 yemen pt-5 pb-5">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-3">
				<h1 class="unit-title text-white">
					The Journey of Wheat
				</h1>
				<h6 class="text-red">
					FROM ROMANIA INTO THE HANDS OF YEMENI BENEFICIARIES IN TAIZZ
				</h6>
				<p class="text-white">
					Each food basket used in WFP’s programmes is designed by the Nutrition Division taking into account
					nutritional needs and beneficiaries’ taste preferences. The Food Procurement Unit develops and
					maintains a shortlist of qualified suppliers, inspected by the Food Quality and Safety Unit to
					ensure compliance with WFP standards and specifications.
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<div class="process-grid" data-aos="fade-up" data-aos-duration="1000">
					<h4 class="text-uppercase text-black bg-white">The Full Process</h4>
					<img src="images/process.svg" class="img-fluid d-none d-md-block"
						alt="Process image with icons for each paragraph below">
					<div>
						<img src="images/contracting.svg" alt="Icon of a contract" class="d-md-none" height="150px">
						<h6 class="text-uppercase text-white">Contracting</h6>
						<p class="text-white">
							International tender for wheat launched; supplier in Romania contracted.
						</p>
					</div>

					<div>
							<img src="images/loading.svg" alt="Icon of a ship with a crane for containers" class="d-md-none" height="150px">
						<h6 class="text-uppercase text-white">LOADING</h6>
						<p class="text-white">
							Wheat loaded onto a WFP- contracted ship following quality and quantity (Q&Q) inspection.
						</p>
					</div>

					<div>
							<img src="images/shipping.svg" alt="Icon of a ship" class="d-md-none" height="150px">
						<h6 class="text-uppercase text-white">SHIPPING</h6>
						<p class="text-white">
							Wheat en route to Aden through the Black Sea, Mediterranean and Red Sea for 10 days
						</p>
					</div>

					<div>
							<img src="images/unloading.svg" alt="Icon of storage places" class="d-md-none" height="150px">
						<h6 class="text-uppercase text-white">UNLOADING</h6>
						<p class="text-white">
							Wheat transferred from ship to silos following a Q&Q inspection.
						</p>
					</div>

					<div>
							<img src="images/packing.svg" alt="Icon of food bag" class="d-md-none" height="150px">
						<h6 class="text-uppercase text-white">PACKING</h6>
						<p class="text-white">
							Wheat milled and transformed into flour and bagged into WFP marked bags.
						</p>
					</div>

					<div>
							<img src="images/storing.svg" alt="Icon of a warehouse" class="d-md-none" height="150px">
						<h6 class="text-uppercase text-white">STORING</h6>
						<p class="text-white">
							Bagged wheat flour transported to WFP warehouses.
						</p>
					</div>

					<div>
							<img src="images/transporting.svg" alt="Icon of a truck" class="d-md-none" height="150px">
						<h6 class="text-uppercase text-white">TRANSPORTING</h6>
						<p class="text-white">
							Wheat flour delivered to cooperating partner warehouse, for transport to distribution sites.
						</p>
					</div>

					<div>
							<img src="images/distributing.svg" alt="Icon of a boy and a girl" class="d-md-none" height="150px">
						<h6 class="text-uppercase text-white">DISTRIBUTING</h6>
						<p class="text-white">
							Cooperating partner distributes food baskets to beneficiaries in Al Misrakh, Taizz
							Governorate.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>